#masthead, #header, #navpages, #navcats, #entryMeta, #narrowSidebar, #wideSidebar, #postcomments, #footer {display:none;}
.post {
	width: auto;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
	}
.post img {
	float:left;
	margin:0 10px 5px;
	}

